#login-register-container {
  width: 800px;
  height: fit-content;
  background-color: rgba(var(--primaryColor));
  border-radius: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  overflow: hidden;

  > .form {
    flex: 1 1 100%;
    padding: 2rem;
    color: rgba(var(--backgroundLight));
    position: relative;

    input {
      padding: 0.5rem 1rem;
      background-color: rgba(var(--backgroundLight), 0.1);
      border: 1px solid rgba(var(--backgroundLight), 0.2);

      &:focus {
        border-color: rgba(var(--highlightColor));
        outline: none;
        background-color: rgba(var(--backgroundLight), 0.2);
      }
    }
  }

  > .toggle-slider {
    width: 50%;
    height: 100%;
    background-color: rgba(var(--secondaryColor));
    border-radius: inherit;
    position: absolute;
    left: 50%;
    top: 0;
    transition: all 0.5s ease;
  }

  .password-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(var(--secondaryColor));
    color: #fff;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid rgba(var(--backgroundLight), 0.2);
    border-radius: 6px;
    margin-top: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
}